#field_nav [data-action='jump'] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#field_nav [data-action='jump']:hover {
    overflow: visible;
    white-space: normal;
}

span.fieldmon.cormyr {
    display: block;
    position: absolute;
    top: 0!important;
    left: 0!important;
    margin: 0!important;
    width: 100%;
    height: 100%;
}

span.fieldmon.cormyr > img {
    margin: 0!important;
    padding: 0!important;
    width: 100%;
    height: 33%;
    object-fit: none;
}
